[submodule "libs/QUaServer.git"]
	path = libs/QUaServer.git
	url = https://github.com/juangburgos/QUaServer.git
[submodule "libs/QDeferred.git"]
	path = libs/QDeferred.git
	url = https://github.com/juangburgos/QDeferred.git
[submodule "libs/QUaAccessControl.git"]
	path = libs/QUaAccessControl.git
	url = https://github.com/juangburgos/QUaAccessControl.git
	branch = master
[submodule "libs/QAdvancedDocking.git"]
	path = libs/QAdvancedDocking.git
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
	branch = master
[submodule "libs/QUaServerWidgets.git"]
	path = libs/QUaServerWidgets.git
	url = https://gitlab.juangburgos.com/juangburgos/quaserverwidgets.git
	branch = master
