<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>QUaModbusClient</Name>
	<Version>1.0</Version>
	<Title>QUaModbusClient</Title>
	<Publisher>juangburgos</Publisher>
	<StartMenuDir>QUaModbusClient</StartMenuDir>
	<TargetDir>@ApplicationsDir@/QUaModbusClient</TargetDir>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<WizardStyle>Modern</WizardStyle>
</Installer>